<header class="header">
  <img src="{{ .Site.Params.avatar }}" alt="Avatar" class="avatar" />
  <h1 class="username">{{ .Site.Params.username }}</h1>
  <nav class="social">
    <ul>
      <li>
        <a href="">
          <span>
            FB
          </span>
        </a>
      </li>
      <li>
        <a href="">
          <span>
            WA
          </span>
        </a>
      </li>
      <li>
        <a href="">
          <span>
            {{- partial "svg/icons" "twitter" -}}
          </span>
        </a>
      </li>
    </ul>

  </nav>
</header>