{{- $social := .Site.Params.social -}}
{{- $base := .Site.Params.social.base -}}

<header class="header">
  <img src="{{ .Site.Params.avatar }}" alt="Avatar" class="avatar" />
  <h1 class="username">{{ .Site.Params.username }}</h1>
  <nav class="social">
    <ul>
    {{- range $network := .Site.Params.networks -}}
      {{ with $username := ( index $social $network )}}
      <li>
        <a href="{{ print ( index $base $network ) $username }}" target='_blank' rel='noopener'> 
          <span>
            {{- partial "svg/icons" $network -}}
          </span>
        </a>
      </li>
      {{- end -}}
      {{- end -}}
    </ul>
  </nav>
</header>